# dataset path
SCADA_ROOT=RAW_DATASET_PATH_HERE

# output path
OUTPUT_PATH=PROCESSED_DATASET_PATH_HERE

# script rules
SAVE_FARM_MASTER=false
SAVE_ALL_MASTER=false

# WF specifications
WIND_FARM_A=Wind Farm A
WIND_FARM_B=Wind Farm B
WIND_FARM_C=Wind Farm C